$primary_color: #ec2d42;

$green_color: #1ed760;
$black_color: black;
$white_color: white;
$grey_color: #f1f1f1;

@font-face {
  font-family: Gotham_medium;
  src: url("../font/gotham_medium.otf");
}

@keyframes createPlayerAnimation {
  0% {
    background-color: $primary_color;
  }
  25% {
    background-color: $green_color;
  }
  50% {
    background-color: $green_color;
  }
  100% {
    background-color: $primary_color;
  }
}

h3, h4, button, a {
  font-family: Gotham_medium;

}

html {
  height: 100%;
  background-color: $black_color;

  header {
    display: grid;
    grid-template-columns: 40% 60%;

    #header-left {
      padding: 0 100px;

      img {
        width: 250px;
        margin: 15px;
      }
    }

    #header-center {
      h3 {
        color: $primary_color;
      }
    }

    #header-right {
      padding: 50px 50px;

      form button {
        margin: 0 20px;
      }

      .form-popup {
        display: none;
        position: fixed;
        border: 3px solid $black_color;
        z-index: 9;
      }

      .ranking-popup {
        display: none;
        position: fixed;
        border: 3px solid $black_color;
        z-index: 9;
        max-width: 400px;
        padding: 10px;
        background-color: $white_color;
        right: 62px;
        width: 15%;

        #ranking-content {
          overflow-y: scroll;
          max-height: 150px;
          margin-bottom: 10px;

          ul {
            margin: 0;
            padding: 0;

            li {
              margin: 5px;
            }
          }
        }
      }

      #btn-close-ranking {
        color: $white_color;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
      }

      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: $white_color;
      }

      .form-container input[type=text], .form-container input[type=password] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: $grey_color;
      }

      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: $white_color;
        outline: none;
      }

      .form-container .btn {
        background-color: $green_color;
        color: $white_color;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 86%;
        margin-bottom: 10px;
        opacity: 0.8;
      }

      .form-container .cancel, .ranking-popup .cancel {
        background-color: $primary_color;
      }

      .form-container .btn:hover, .ranking-popup .btn:hover {
        opacity: 1;
      }

      #new-player {
        margin-left: 3px !important;
        animation: createPlayerAnimation 5s infinite;
      }

      .action-button {
        padding: 5px 20px;
        margin-left: 50px;
        color: $white_color;
        background-color: $primary_color;
      }
    }
  }

  main {


    .title {
      background-color: $primary_color;
      margin: 0 20px 15px;
      padding: 1px;

      color: $white_color;
      text-align: center;
    }

    #top {
      display: grid;
      grid-template-columns: 35% 35% 30%;
      max-height: 500px;

      #west-top {
        max-height: 500px;

        #grid-map {
          display: grid;
          grid-template-columns: auto auto;

          #map-info {
            #legend {
              margin-left: 45px;
              margin-top: 20px;
              img {
                height: 35px;
              }
            }

            h3 {
              display: inline;
              color: $white_color;
              vertical-align: super;
            }

            #compass {
              display: grid;
              grid-template-columns: auto auto auto;
              grid-template-rows: auto auto auto;
              margin-left: 30px;

              #north {
                grid-column: 2/3;
                grid-row: 1/2;
                text-align: center;

                h1 {
                  margin-bottom: 0;
                }
              }

              #west {
                grid-column: 1/2;
                grid-row: 2/3;
                text-align: right;

              }

              #east {
                grid-column: 3/4;
                grid-row: 2/3;
                text-align: left;

              }

              #south {
                grid-column: 2/3;
                grid-row: 3/4;
                text-align: center;

                h1 {
                  margin: 0;
                }
              }

              h1 {
                color: $white_color;
              }

              img {
                width: 75px;
                color: $white_color;
                margin: 5px auto;
                display: block;
                grid-column: 2/3;
                grid-row: 2/3;
              }
            }
          }

          #map {
            margin: 0 auto;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: auto auto auto auto auto auto;
            border: 1px solid $white_color;
          }

          .cell {
            border-radius: 5px;
            align-self: stretch;
            background-color: $grey_color;
            border: 1px solid $black_color;
            width: 50px;
            height: 50px;
          }
        }

      }

      #middle-top {
        max-height: 500px;


        #visor {
          display: grid;
          grid-template-columns: auto auto auto;
          grid-template-rows: auto auto auto;
          margin: 0 auto;
          border: 1px solid $white_color;
          max-width: 351px;

          .view {
            border-radius: 5px;
            align-self: stretch;
            background-color: $grey_color;
            border: 1px solid $black_color;
            width: 115px;
            height: 115px;
          }
        }

      }

      #east-top {
        max-height: 500px;

        #player-characteristics {
          img {
            width: 75px;
            margin: 10px auto;
            display: block;
          }

          h3 {
            color: $primary_color;
            padding: 10px 100px;

          }
        }

      }

    }

    #bottom {
      display: grid;
      grid-template-columns: 60% 40%;
      max-height: 500px;
      margin-top: 20px;

      #middle-bottom {
        max-height: 500px;

        #console {
          height: 245px;
          background-color: $grey_color;
          margin: 0 20px;
          overflow-y: scroll;
          border: 3px solid $primary_color;
        }
      }

      #east-bottom {
        max-height: 500px;

        #controls {
          margin: 0 80px;
          display: grid;
          grid-template-columns: auto auto;

          .box {
            border-radius: 5px;
            align-self: stretch;
            height: 80px;
            width: 80px;
            border: 1px solid $white_color;

            .control-image {
              width: 100%;
              height: 100%;
            }

            .btn_control {
              background: none;
              border: none;
              height: 100%;
            }

            .btn_control:focus {
              outline: none;

            }
          }


          #attack-controls {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;

            #attack-north {
              grid-column: 2/3;
              grid-row: 1/2;
              background: none;
              margin: 0;
            }

            #attack-west {
              grid-column: 1/2;
              grid-row: 2/3;
            }

            #attack-east {
              grid-column: 3/4;
              grid-row: 2/3;

            }

            #attack-south {
              grid-column: 2/3;
              grid-row: 3/4;
            }

          }

          #move-controls {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;

            #move-northWest {
              grid-column: 1/2;
              grid-row: 1/2;

              img {
                transform: rotate(-135deg);
              }
            }

            #move-north {
              grid-column: 2/3;
              grid-row: 1/2;

              img {
                transform: rotate(-90deg);
              }
            }

            #move-northEast {
              grid-column: 3/4;
              grid-row: 1/2;

              img {
                transform: rotate(-45deg);
              }
            }

            #move-west {
              grid-column: 1/2;
              grid-row: 2/3;

              img {
                transform: rotate(180deg);
              }
            }

            #move-east {
              grid-column: 3/4;
              grid-row: 2/3;

            }

            #move-southWest {
              grid-column: 1/2;
              grid-row: 3/4;

              img {
                transform: rotate(135deg);
              }
            }

            #move-south {
              grid-column: 2/3;
              grid-row: 3/4;

              img {
                transform: rotate(90deg);
              }
            }

            #move-southEast {
              grid-column: 3/4;
              grid-row: 3/4;

              img {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }
}
