@font-face {
  font-family: Gotham_medium;
  src: url("../font/gotham_medium.otf"); }
@font-face {
  font-family: Gotham_thin;
  src: url("../font/gotham_thin.otf"); }
h3, a {
  font-family: Gotham_medium; }

html {
  height: 100%;
  background-color: black; }
  html header {
    display: grid;
    grid-template-columns: 40% 60%; }
    html header #header-left {
      padding: 0 100px; }
      html header #header-left img {
        width: 250px;
        margin: 15px; }
    html header #header-center h3 {
      color: #ec2d42; }
    html header #header-right {
      padding: 50px 50px;
      /* The popup form - hidden by default */
      /* Add styles to the form container */
      /* Full-width input fields */
      /* When the inputs get focus, do something */
      /* Set a style for the submit/login button */
      /* Add a red background color to the cancel button */
      /* Add some hover effects to buttons */ }
      html header #header-right label b {
        font-family: Gotham_medium; }
      html header #header-right form button {
        margin: 0 20px; }
      html header #header-right .form-popup {
        display: none;
        position: fixed;
        border: 3px solid black;
        z-index: 9; }
      html header #header-right .ranking-popup {
        display: none;
        position: fixed;
        border: 3px solid black;
        z-index: 9;
        max-width: 300px;
        padding: 10px;
        background-color: white;
        right: 165px; }
      html header #header-right .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white; }
      html header #header-right .form-container input[type=text], html header #header-right .form-container input[type=password] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1; }
      html header #header-right .form-container input[type=text]:focus, html header #header-right .form-container input[type=password]:focus {
        background-color: white;
        outline: none; }
      html header #header-right .form-container .btn {
        background-color: #1ed760;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 86%;
        margin-bottom: 10px;
        opacity: 0.8; }
      html header #header-right .form-container .cancel {
        background-color: #ec2d42; }
      html header #header-right .form-container .btn:hover {
        opacity: 1; }
      html header #header-right #new-player {
        margin-left: 3px !important; }
      html header #header-right button {
        font-family: Gotham_medium;
        padding: 5px 20px;
        margin-left: 50px;
        color: white;
        background-color: #ec2d42; }
  html main .title {
    background-color: #ec2d42;
    margin: 0 20px 15px;
    padding: 1px;
    color: white;
    text-align: center; }
  html main #top {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    max-height: 500px; }
    html main #top #west-top {
      max-height: 500px; }
      html main #top #west-top h3 {
        color: white;
        text-align: center; }
      html main #top #west-top #compass img {
        width: 75px;
        color: white;
        margin: 5px auto;
        display: block; }
      html main #top #west-top #map {
        margin: 0 110px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto; }
      html main #top #west-top .cell {
        border-radius: 5px;
        align-self: stretch;
        background-color: #f1f1f1;
        border: 1px solid black;
        width: 45px;
        height: 45px; }
    html main #top #middle-top {
      max-height: 500px; }
      html main #top #middle-top #visor {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        margin: 0 180px; }
        html main #top #middle-top #visor .view {
          border-radius: 5px;
          align-self: stretch;
          background-color: #f1f1f1;
          border: 1px solid black;
          width: 115px;
          height: 115px; }
    html main #top #east-top {
      max-height: 500px; }
      html main #top #east-top #player-characteristics img {
        width: 75px;
        margin: 10px auto;
        display: block; }
      html main #top #east-top #player-characteristics h3 {
        color: #ec2d42;
        padding: 5px 100px; }
  html main #bottom {
    display: grid;
    grid-template-columns: 60% 40%;
    max-height: 500px; }
    html main #bottom #middle-bottom {
      max-height: 500px; }
      html main #bottom #middle-bottom #console {
        height: 255px;
        background-color: #f1f1f1;
        margin: 0 20px;
        overflow-y: scroll; }
    html main #bottom #east-bottom {
      max-height: 500px; }
      html main #bottom #east-bottom #controls {
        margin: 0 80px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto; }
      html main #bottom #east-bottom .box {
        border-radius: 5px;
        align-self: stretch;
        height: 85px;
        width: 85px; }
        html main #bottom #east-bottom .box .control-image {
          width: 100%;
          height: 100%; }
        html main #bottom #east-bottom .box .btn_control {
          background: none;
          width: 100%;
          height: 100%; }
      html main #bottom #east-bottom #attack-north {
        grid-column: 3/4;
        grid-row: 1/2;
        background: none;
        margin: 0; }
      html main #bottom #east-bottom #move-north {
        grid-column: 4/5;
        grid-row: 1/2; }
        html main #bottom #east-bottom #move-north img {
          transform: rotate(-90deg); }
      html main #bottom #east-bottom #attack-west {
        grid-column: 1/2;
        grid-row: 2/3; }
      html main #bottom #east-bottom #move-west {
        grid-column: 2/3;
        grid-row: 2/3; }
        html main #bottom #east-bottom #move-west img {
          transform: rotate(180deg); }
      html main #bottom #east-bottom #attack-east {
        grid-column: 6/7;
        grid-row: 2/3; }
      html main #bottom #east-bottom #move-east {
        grid-column: 5/6;
        grid-row: 2/3; }
      html main #bottom #east-bottom #attack-south {
        grid-column: 3/4;
        grid-row: 3/4; }
      html main #bottom #east-bottom #move-south {
        grid-column: 4/5;
        grid-row: 3/4; }
        html main #bottom #east-bottom #move-south img {
          transform: rotate(90deg); }

/*# sourceMappingURL=style.css.map */
