$primary_color: #ec2d42;

$green_color: #1ed760;
$black_color: black;
$white_color: white;
$grey_color: #f1f1f1;
html {
  height: 100%;
  background-color: $black_color;

  h3, li, a {
    font-family: "Arial Black", monospace !important;
  }

  header {
    display: grid;
    grid-template-columns: 50% 50%;


    #header-left {
      padding: 0 100px;

      img {
        width: 250px;
      }
    }

    #header-center {
      h1 {
        color: $primary_color;
      }
    }

    #header-right {
      padding: 40px 50px;

      /* The popup form - hidden by default */
      .form-popup {
        display: none;
        position: fixed;
        border: 3px solid $black_color;
        z-index: 9;
      }
      /* Add styles to the form container */
      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: $white_color;
      }
      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        width: 90%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: $grey_color;
      }

      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: $white_color;
        outline: none;
      }

      /* Set a style for the submit/login button */
      .form-container .btn {
        background-color: $green_color;
        color: $white_color;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 86%;
        margin-bottom:10px;
        opacity: 0.8;
      }

      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: $primary_color;
      }

      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }

      #new-player{
        margin-left: 3px !important;
      }
      button {
        padding: 0 20px;
        margin-left: 20px;
        color: $white_color;
        background-color: $primary_color;
      }
    }
  }

  main {


    #top {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      border: 1px solid $primary_color;

      #west-top {
        border: 1px solid $primary_color;
        h1{
          color: $primary_color;
          text-align: center;
        }

        #compass {
          img {
            width: 100px;
            color: $white_color;
            margin: 20px auto;
            display: block;
          }
        }

        #map {
          height: 350px;
          background-color: $white_color;
          margin: 20px auto;
          width: 350px;
        }

      }

      #middle-top {
        border: 1px solid $primary_color;
        h1{
          color: $primary_color;
          text-align: center;
        }
        #visor {

          height: 500px;
          background-color: $white_color;
          margin: 20px auto;
          width: 500px;
        }

      }

      #east-top {
        border: 1px solid $primary_color;
        h1{
          color: $primary_color;
          padding: 0 100px;
          text-align: center;
        }
        #playerCharacteristics {
          img{
            width: 50px;
            margin: 20px auto;
            display: block;
          }
          h3{
            color: $primary_color;
            padding: 0 100px;
          }
        }

      }

    }

    #bottom {
      display: grid;
      grid-template-columns: 67% 33%;
      border: 1px solid $primary_color;

      #middle-bottom {
        border: 1px solid $primary_color;

        h1{
          color: $primary_color;
          padding: 0 100px;
        }
        #console {
          height: 350px;
          background-color: $white_color;
          margin: 20px auto;
          width: 1000px;
        }
      }

      #east-bottom {
        border: 1px solid $primary_color;
        h1{
          color: $primary_color;
          padding: 0 100px;
          text-align: center;
        }
        #controls {
          height: 350px;
          background-color: $white_color;
          margin: 20px auto;
          width: 350px;
        }
      }


    }


  }
  footer {
    border: 1px solid $primary_color;
    text-align: center;
    padding: 10px;
    background-color: $black_color;
    a {
      margin: 0 20px;
      color: $white_color;
      text-decoration: none;
    }

    a:hover {
      color: $primary_color;
    }
  }
}
